.author
  margin-top: 40px
  margin-bottom: 105px
  flex-direction: column
  &-about
    font-family: 'Gilroy'
    font-weight: 500
    font-size: 18px
    line-height: 22px
  &-name
    width: 125px
    margin: 0
    font-family: 'Gilroy'
    font-size: 48px
    line-height: 59px
    font-weight: 700
  &-photo
    display: block
    width: 100%
    height: auto
    &__adaptive
      display: none
  &-info
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 50px